.banner {
  background: linear-gradient(
      0deg,
      hsla(47, 93%, 76%, 0.776) 0%,
      hsla(5, 84%, 73%, 0.893) 100%
    ),
    url("/src/assets/images/hawk.png") center center no-repeat;
  padding-bottom: 300px;
  &__navbar {
    display: flex;
    justify-content: space-between;
    padding: 32px 192px;
    width: 100%;
  }

  &__logo-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
  }

  &__menu-wrapper {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 650px;

    a {
      text-decoration: none;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;

      &:hover {
        color: #fce38a;
        text-decoration: underline;
        text-decoration-color: #fce38a;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
        text-underline-offset: 10px;
      }
    }
  }

  &__title-wrapper {
    margin-top: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #fff;
    max-width: 700px;
    text-align: center;

    &--italic {
      font-family: "Kaushan Script";
      font-size: 42px;
      letter-spacing: 2px;
      margin-bottom: 24px;
    }

    &--bold {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 96px;
      line-height: 1;
    }
  }

  &__button-wrapper {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    padding: 8px 24px;
    cursor: pointer;
    border: 3px solid #fff;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: #fff;
      color: #f38181;
    }
  }
}
