*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 1000px 550px 750px 100px;
}

p {
  font-size: 14px;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
}

.hide {
  display: none;
}
